AGE_RATE_INCREMENT=0.005
AGE_UNIT_YEARS=1
APP_ENV=local
APP_NAME=CRACLX
APP_VERSION=0.1.0
COVERAGE_PERCENTAGE=1.00
GIS_ADJUSTMENT_MAX=0.02
GIS_ADJUSTMENT_MIN=-0.02
GIS_HIGH_RISK_LOCATIONS=["BR:SP:Sao Paulo:*"]
GIS_LOW_RISK_LOCATIONS=["BR:SC:Florianopolis:*"]
REFERENCE_YEAR=
VALUE_RATE_INCREMENT=0.005
VALUE_RATE_UNIT=10000.00
